@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --purple-color: #752092;
  --violet: #c957bc;
  --lilac: #ffc872;
  --raisin: #ffe3b3;
  --eggplant: #5ec5d4;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: #ffe3b3;
}
h3 {
  color: #c957bc;
}
input,
button {
  outline: 0;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}
button {
  cursor: pointer;
}
#fullscreen-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffc872;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.card {
  background-color: #5ec5d4;
  border-radius: 0.6rem;
  overflow: hidden;
  /*display: none;*/
  position: fixed;
  height: 650px;
  width: 500px;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
  width: 500px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #c957bc;
}
.content-head h3 {
  color: #c957bc;
}
